.productList {
  font-size: calc(6px + 16 * (100vw / 1280));
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;

  @media (max-width: 768px) {
    // font-size: calc(6px + 1.25vw);
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }

  .productList-item {
    cursor: pointer;
    background-color: #86a8ad8c;
    width: 100%;
    height: 100%;
    position: relative;
    
      overflow: hidden;
    div {
      padding: 10px;
    }

    .flag {
      // background-color: #67290850;
      position: relative;
    
      overflow: hidden;

      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
      .flagPattern{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        height: 14%;
        width: 21%;
        opacity: 0;
        // display: none;
      }
    }
    // .flag:hover{

    //   .flagPattern{

    //     animation: flag 10s linear 1 ;

    //   }
    //   // &::after{
    //   //   content: '';
    //   //           position: absolute;
    //   //           top: 0;
    //   //           right: 0;
    //   //           margin: 10px;
    //   //           z-index: 3;
    //   //           height:  14%;
    //   //           width:  21%;
    //   //           background-color: rgb(250, 250, 250);
    //   //           opacity: 0;
    //   //           animation: wave 3s linear 2 2s;
    //   // }
    // }
//       .flagPattern {
//         position: absolute;
//         top: 0;
//         left:  0;
//         // z-index: 2;
//         width: 100%;
//         height: 100%;
//         opacity: 0;
//       }
//       .flagPattern:hover{
       
// position: relative;
//       // transition: all 5s  ease-in-out;
//       // background-color: #672a08;
    
//       width:auto;
//       height: 100%;
//       opacity: 0;
     
//       }
//       .flagPattern:hover::after {
//         content: '';
//         position: absolute;
//         top: 200px;
//         left: 0;
//         z-index: 5;
//         width: 15%;
//         height: 10%;
//         // border-radius: 40%;
//         background-color: rgb(87, 86, 86);
//         opacity: 0;
//        animation: flag 10s ease 1 ;
//         //  animation: wave 1s linear 5 ;
      


//       }
      // .flagPattern:hover {
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;
      //   transition: all 2s ease;
      //   background-color: red;
      // }
      // .flagPattern::after,
      // .flagPattern::before {
      //   // position: relative;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      // }
      // .flagPattern::after {
      //   height: 100%;
      //   width: 100%;
      //   background-color: rgba(240, 255, 255, 0.479);
      //   animation: wave 10s linear infinite;
      //   z-index: 3;
      // }
      // .flagPattern::before {
      //   content: "";
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;

      //   background-color: rgba(224, 6, 6, 0.199);
      //   // z-index: 1;
      // }
    // }
    .description {
      height: 100px;

      max-width: 340px;
      font-size: 16px;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .productList-item:hover {
    background-color: #93dbe9;
    transition: 0.8s;
    .flagPattern{

      animation: flag 10s linear 1 ;

    }
  }
}
.MuiPagination-ul {
  justify-content: center;

  li {
    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
      color: #672a08;
    }
    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
      background-color: rgb(87, 163, 250);

      font-weight: bold;
    }
  }
}
// @keyframes wave {
//   0% {
  
//     opacity: 0;
 
//   }
//   30%{
//     opacity: .4;}
//   // 50% {
//   // // height: 10%;
//   // // width: 15%;
//   // // top: 0;
//   // // left: 100px;
//   // }
//   80% {
  
//     opacity: 0;
//   }
// }
@keyframes flag {
  0% {
    opacity: 0;
   
  }
  20% {  
    opacity: 1;
    // background-color: #672a08;
  }
  80%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}