
input{
max-width: 500px;
color: inherit;
}
// input{
//     border:solid 5px black; 
//     color: black;
// }
// #login:invalid:focus{
//     border:solid 5px black; 
// }

.error{
// border:solid 3px red;
color: red;
}
